.main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: calc(100vh - 120px);
  padding-top: 2rem;
  text-align: center;
  background-color: #fefefe;
}

.main h2 {
  font-size: 2rem;
  color: #333;
  margin: 0;
}
