* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --titleFont: "Luckiest Guy";
  --textFont: "Open sans", sans-serif;
  --purple: #8667c1;
  --pink: #ffc4c6;
  --green: #d0f8c4;
  --blue: #a5e3f4;
  --lightPurple: #c9abf8;
  --grey: #dbe2f4;
  --yellow: #fddb00;
  --red: #ff5300;
}

main {
  background-color: #fffef8;
}

.wheel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2rem;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .card-container {
    flex-direction: row;
    justify-content: center;
  }
}
